#date
{
    width: 40%;
    height: 62vh;
    background-color: #222;
    color: white;
    text-align: left;
    float: left;
}
#date>h3
{
    margin-left: 20%;
    margin-top: 10vh;
    font-size:23px;
}
#date>p
{
    margin-left: 20%;
    margin-top: 6vh;
    font-size:13px;
}
#topbar{
    background: url('notebook-ge2831aeb6_1920.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    height:66vh;
    margin-left:40%;
    width:60%;
}